/*Favourite active class*/
.listing-post .favourit {
    cursor: pointer;
}

.listing-post .active, .tabset-holder .active .icon-heart {
    text-decoration: none;
    background: #c53f4e;
}

.listing-area, .listing-holder {
    display: block !important;
}

/* END Billing CSS Invoice  */

.listing-box .frame .post-content .alignleft img,
.listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder img {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
}

/*Overriding all.css*/

/** Common/_flash.html.twig **/

.alert-error-new {
    background: #fababa;
    border-color: #b82422;
    color: #BB2D2B;
    padding: 16px 5px 16px 75px;
}

.alert-warning-new {
    background: #ffe9ad;
    border-color: #fab418;
    color: #C58705;
    padding: 26px 5px 28px 75px;
}

.alert-success-new {
    background: #E1EFBB;
    border-color: #AEBC85;
    color: #708A29;
    padding: 16px 5px 16px 75px;
}

.alert-info-new {
    background: #DDF1F3;
    border-color: #0A8FA1;
    color: #89C1CA;
    padding: 26px 5px 28px 75px;
}

.form-area .alert-warning {
    padding: 26px 5px 28px 75px;
}

.form-area .alert-warning .ico.exclamation {
    width: 41px;
    height: 41px;
    font-size: 34px;
    line-height: 41px;
}

.ico.icon-success {
    background: #fff url('../images/icon_success.png') no-repeat 11px 12px;
}

.ico.icon-error {
    background: #fff url('../images/icon_error.png') no-repeat 14px 15px;
}

.ico.icon-warning {
    background: #fff url('../images/icon_warning.png') no-repeat 11px 12px;
}

.ico.icon-info {
    background: #fff url('../images/icon_info.png') no-repeat 11px 12px;
}

.flashes .alert .ico {
    left: 18px;
}

/** form field error message **/
.errors, .error {
    color: #d8292f;
    font-size: 10px;
    margin: 5px;
}

/** Search ( characteristics ) **/
.form-category .area .col .title {
    text-align: right;
    margin-right: 7px;
}

.form-category .area {
    overflow: visible;
}

.form-category .form-holder .col.time .col.day-fields:first-child,
.form-category .form-holder .col.time .col.day-fields.display-range:first-child,
.form-category .form-holder .col.time .col.day-fields.display-duration .col:first-child {
    width: 99%;
}

.form-category .form-holder .col.time .col.day-fields.display-duration,
.form-category .form-holder .col.time .col.day-fields.nb-days {
    width: 49%;
}

.form-category .form-holder .col.time .col.day-fields.display-duration .input-append.date {
    position: relative;
    padding: 0 35px 0 0;
    width: 152px;
}

.form-category .form-holder .col.time .time-fields {
    display: inline-block;
    line-height: 36px;
    height: 36px;
    margin-top: 4px;
}

.form-category .form-holder .col.time .time-fields.col {
    margin-top: 4px;
    width: 99%;
}

.form-category .form-holder .col.time .time-fields .col {
    margin-right: -6px;
}

.form-category .form-holder .col.time #time_range_start {
    margin-right: 10px;
}

.form-category .form-holder .col.time .time-fields select,
.form-category .form-holder .col.time .nb-days select {
    display: inline-block;
    max-width: 70px;
}

.form-category .form-holder .col.time .time-fields .title,
.form-category .form-holder .col.time .nb-days .title {
    display: inline-block;
    float: none;
    position: relative;
    margin: 0;
    vertical-align: middle;
}

/** time picker */
/** search form */
.form-category .form-holder .col.time .time-fields .form-control {
    width: 117px;
}

.form-category .form-holder .col.time .time-fields #datetimepicker3 {
    width: 72%;
    margin-left: 20px;
    position: relative;
    min-width: 103px;
}

.form-category .time-fields .add-on {
    top: 43%;
}

/** time picker */
/** global */
.time-fields.timepicker-holder-ajax .add-on {
    top: 4px;
    right: -4px;
    position: absolute;
}

.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
    color: #ddd;
}

.time-fields .bootstrap-datetimepicker-widget.dropdown-menu {
    width: 10em;
}

.time-fields .bootstrap-datetimepicker-widget table td span.glyphicon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    color: #c6ccd2;
    float: none;
}

.time-fields .bootstrap-datetimepicker-widget .timepicker-hour,
.time-fields .bootstrap-datetimepicker-widget .timepicker-minute,
.time-fields .bootstrap-datetimepicker-widget .timepicker-second {
    width: 40px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    line-height: 40px;
    height: 40px;
}

.time-fields .bootstrap-datetimepicker-widget table td {
    height: 40px;
    line-height: 40px;
    width: 40px;
}

.time-fields span.glyphicon.glyphicon-chevron-up:after,
.time-fields span.glyphicon.glyphicon-chevron-down:after {
    display: block;
    content: '\e805';
    cursor: pointer;
    text-align: center;
    font: 16px/24px 'fontello';
    color: #58595b;
    font-weight: bold;
}

.time-fields span.glyphicon.glyphicon-chevron-down:after {
    content: '\e806';
    font: 16px/24px 'fontello';
    font-weight: bold;
}

.time-fields .bootstrap-datetimepicker-widget td.hour,
.time-fields .bootstrap-datetimepicker-widget td.minute {
    width: 34px;
    padding: 0;
}

.form-category .form-holder .col.time .flexibility {
    width: 50%;
    margin-top: 0;
}

.form-category .flexibility .input-append {
    padding: 0 10px 0 0;
    line-height: 36px;
}

.form-category .flexibility .jcf-select {
    width: 60%;
}

.multiselect-container.dropdown-menu > .active > a,
.multiselect-container .dropdown-menu > .active > a:hover,
.multiselect-container .dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #afb8c0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.error-page {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    margin-top: 97px;
}

/** Cancellation Policy **/
.info-policy {
    float: right;
    margin: 9px;
}

/*similar listing css*/
section.similar-ads .listing-post {
    margin-bottom: 0;
}

section.similar-ads .rating {
    margin-bottom: 0;
}

section.similar-ads .rating li {
    font-size: 14px;
    display: inline-block;
}

section.similar-ads .listing-post .time-price {
    margin: 1px 0 4px 6px;
    text-shadow: rgb(252, 247, 247) 1px 1px 1px;
}

section.similar-ads ul.rating.list-inline {
    position: relative;
}

section.similar-ads .listing-post .price {
    font-size: 14px;
    padding-bottom: 8px;
    display: inline-block;
    margin: 0 0 -10px;
    line-height: 15px;
    text-shadow: none;
}

section.similar-ads .time-price p {
    font-size: 10px;
}

section.similar-ads .alignleft img {
    position: absolute;
    width: auto;
}

/*end of similar listing css*/
.listing-title {
    margin-top: 0 !important;
}

.multiselect-container.dropdown-menu {
    width: 100%;
}

img.loading {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

#modal .modal-dialog .home-content-body {
    padding: 0 0 20px 0;
    text-align: center;
}

/*
images css for making it 4:3
*/
.vertical-slideset {
    /*height: 450px !important;*/
}

.vertical-holder .vertical-slider .vertical-slideset .vertical-slide,
.vertical-holder .vertical-slider .vertical-slideset .vertical-slide a {
    width: 130px;
    height: 104px;
    position: relative;
}

.listing-box .frame .post-content .alignleft,
.head .author-img .img-holder,
.area .box .author-detail .author-img {
    width: 60px;
    height: 45px;
    position: relative;
}

#properties .listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder {
    width: 527px;
    height: 395px;
    position: relative;
}

.container .row .twocolumns .listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder,
.listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder {
    width: 384px;
    height: 288px;
    position: relative;
}

/** Price include / exclude text */
.price sup {
    line-height: 0;
    text-transform: uppercase;
}

.listing-post .price {
    text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
}

.reservation .price small {
    font-size: 20px;
}

.listing-post .price small {
    font-size: 9px;
}

.price-section .info.price {
    font-size: 16px;
    display: inline-block;
    margin: 0 0 0 2px;
    line-height: normal;
}

/** Price simulator*/
.price-section strong.price {
    margin: 20px 0;
}

.price-section .column + .column .price-info {
    margin: 20px 0 0 0;
}

/** Booking new time mode */
.timing li {
    height: 25px;
}

.timing li:nth-child(n+4) {
    margin-top: 10px;
}

.timing li:nth-child(2) {
    text-align: left;
}

.timing li:nth-child(3n+0) {
    text-align: right;
}

.timing li label {
    width: 80px;
    display: inline-block;
    text-align: right;
}

.col.expiry input {
    width: 49%;
    display: inline-block;
}

/** Contact */
.form-area .contact-info .code + .tooltip-btn {
    right: auto;
}

/* new menu for cocorico*/
ul.dropdown-menu li.dropdown.open.display-tab ul {
    width: 100%;
    padding: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 0;
}

ul.dropdown-menu ul.menu-sub-tabs li a {
    display: inline-block;
    border: 0;
    font-size: 14px;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li.active a {
    background: #fff;
    color: #58595b;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li a:hover {
    background-color: #eeeeee;
    border-top-right-radius: 4px;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover {
    border-top-right-radius: 0;
}

.navbar-nav > li > .dropdown-menu li + li.menu-second-tab {
    border: 0;
}

ul.display-sub-tabs ul.dropdown-menu li a {
    font-size: 14px;
}

li.dropdown.display-tab ul.dropdown-menu a {
    padding: 7px 20px;
}

.navbar-default .navbar-nav > li > .dropdown-menu li + li.dropdown.display-tab {
    border: 0;
}

ul.menu-sub-tabs > li.active > a,
ul.menu-sub-tabs > li.active > a:hover,
ul.menu-sub-tabs > li.active > a:focus {
    border: 0;
    background-color: #f7f7f7;
}

ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
    width: 50%;
    border-top-right-radius: 4px;
    height: 100%;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
    width: 50%;
    border-top-left-radius: 4px;
    height: 100%;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    width: 145%;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list a {
    margin-left: 0;
    width: 100%;
    padding: 13.5px;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list li.firstTab a, li.firstTab.active a {
    border-top-left-radius: 4px;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.menu-second-tab.secondTab a {
    border-top-right-radius: 4px;
}

li.menu-second-tab.secondTab.active a {
    width: 99.35%;
}

li.firstTab.active a:hover {
    border-top-right-radius: 0;
}

ul.dropdown-menu li a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@-moz-document url-prefix() {
    ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
        margin-left: 0;
    }
    .navbar-default .navbar-nav > li > .dropdown-menu {
        width: 150%;
    }
}

@media screen and (max-width: 767px) {
    ul.menu-sub-tabs {
        width: auto;
        margin-top: 0;
    }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        margin: 15px 0 0 0;
        border: 0;
        width: auto;
    }

    ul.menu-sub-tabs {
        margin-top: -10px;
        display: block;
        width: 100%;
    }

    .navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list a {
        display: inline-block;
        width: 100%;
        border-top-right-radius: 4px;
    }

    ul.dropdown-menu ul.menu-sub-tabs li.firstTab,
    ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
        width: 50%;
    }

    ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover,
    .navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list li.firstTab a {
        border-top-right-radius: 0;
    }

    .navbar-default .navbar-nav li ul.display-sub-tabs li.firstTab a {
        border-top-left-radius: 0;
    }

    .navbar-default .navbar-collapse.in {
        overflow: visible;
        display: initial;
    }

    ul.dropdown-menu li a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

}

/* end of new menu for cocorico*/

/*  Phone  */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: pointer;
}

.collection-add-block {
    margin: 10px 0 28px 0;
}

.form-area .field-row.time {
    max-width: none;
}

ul.collection {
    padding: 0;
}

#footer .by.credit {
    margin-right: 10px;
}

/** Form payment */
.form-payment .form-holder .col.cvv {
    width: 33.1%;
}

.form-payment .form-holder .col.cvv .field-holder {
    width: 50%;
}

.form-payment .form-holder .col.cvv .tooltip-button {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 0;
}

.payment a.btn.btn-primary {
    line-height: 36px;
}

/** end Form payment */

.btn.btn-default.multiselect-clear-filter {
    display: none;
}

.btns-area {
    text-align: center;
    padding: 20px 0;
    max-width: 800px;
}

.btns-area .btn-primary {
    width: 33%;
    margin: 0 auto;
}

/* ------------------------------------------------------------ *\
	Scroll bar
\* ------------------------------------------------------------ */
.jcf-scrollbar {
    background: none;
    width: 9px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
    display: none;
}

.jcf-scrollbar-vertical .jcf-scrollbar-slider {
    margin: 0;
    background: #e9eae9;
    height: 100% !important;
    width: 9px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
    background: #ababab;
    width: 9px;
}

/** Listing Options edition */
.option-area {
    margin: 0 0 21px;
    border-radius: 5px;
    padding: 11px 17px 18px;
    border: #e6e6e6 solid 1px;
}

.option-area h2 {
    font-size: 14px;
    margin: 0 0 22px;
}

.option-area .listing-option-list {
    border-radius: 5px;
    padding: 17px 18px;
    border: #e6e6e6 solid 1px;
    margin-bottom: 20px;
}

.option-area .listing-option-list:nth-child(even) {
    background-color: #f7f7f7;
}

.option-area .collection .pull-left:first-child {
    width: 42%;
    margin-right: 20px;
}

.option-area .collection .pull-left:first-child + .pull-left {
    width: 54%;
    border-radius: 5px;
    padding: 22px 18px 7px;
    border: #e6e6e6 solid 1px;
    margin-top: 41px;
    background-color: #fff;
}

.option-area .field-row .field-row {
    width: 42%;
    display: inline-block;
    margin: 0 0 0;
}

.option-area .field-row .field-row:first-child {
    width: 50%;
    display: inline-block;
    margin-right: 20px;
}

.form-area .tab-content .option-area .tab-content {
    padding-bottom: 0;
}

.option-area .close {
    right: auto;
    top: auto;
}

.option-area .sign {
    float: right;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 2px;
    line-height: 36px;
}

.option-area .btn-block button[type=submit] {
    margin: 0;
    min-width: 220px;
}

.option-area textarea {
    height: 110px;
}

/* ------------------------------------------------------------ *\
	Listing options show
\* ------------------------------------------------------------ */
.options-alpha {
    padding: 20px;
    position: relative;
}

.options-alpha-inner {
    width: 100% !important;
    height: 470px !important;
    max-height: 470px !important;
    padding-right: 20px;
}

/* ------------------------------------------------------------ *\
	Booking Option
\* ------------------------------------------------------------ */
.option-reservation {
    color: #58595b;
    margin: 0 0 20px;
    border-radius: 5px;
    padding: 19px 19px 29px;
    border: #eaebec solid 1px;
}

.option-reservation h2 {
    margin: 0 10px 10px 0;
    font-size: 14px;
    line-height: 17px;
}

.option-reservation .options {
    margin-top: 10px;
    padding: 25px 80px 0 80px;
}

.option-alpha {
    border-radius: 5px;
    border: 1px solid #eaebec;
    padding: 15px 20px;
    background-color: #f7f6f6;
    margin-bottom: 20px;
}

.option-inner:after, .option-alpha:after {
    content: '';
    line-height: 0;
    display: table;
    clear: both;
}

.option-alpha-secondary {
    padding: 0;
}

.option-alpha-secondary .option-inner {
    padding: 15px 20px;
}

.option-alpha .option-head {
    padding-right: 20px;
}

.option-alpha .option-head h4 {
    text-transform: uppercase;
    margin: 0;
    line-height: 1.33;
    font-size: 16px;
}

.option-alpha .option-head h4 span {
    text-transform: lowercase;
    font-weight: normal;
}

.option-alpha .option-trigger {
    float: right;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #ababab;
}

.option-alpha.expanded .option-trigger {
    border-top: 0;
    border-bottom: 10px solid #ababab;
}

.option-alpha .option-trigger:hover {
    border-top-color: #58595b;
}

.option-alpha .option-body {
    color: #58595b;
    font-size: 14px;
    line-height: 1.71;
    max-height: 0;
    overflow: hidden;
    transition: .4s;
}

.option-alpha.expanded .option-body {
    max-height: 400px;
    overflow: visible;
}

.option-alpha .option-body p {
    padding-top: 10px;
}

.option-alpha-secondary .check-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.option-alpha-secondary .check-list li {
    margin: 0;
    position: relative;
}

.option-alpha-secondary .check-list .field-holder {
    position: absolute;
    top: 4px;
    right: 10px;
    width: 80px;
}

.option-alpha-secondary .check-list .label {
    display: block;
    padding: 12px 110px 12px 0;
    background-color: #ababab;
    border-radius: 0 0 5px 5px;
    color: #fff;
    transition: .2s;
    text-align: right;
}

.option-alpha-secondary .label label {
    padding: 0;
    margin: 0;
}

.option-reservation .alert {
    margin-bottom: 0;
    text-align: center;
    padding: 15px;
}

.option-reservation .alert-info-secondary {
    background-color: #f7f6f6;
    border: 1px solid #eaebec;
}

.option-reservation .alert p {
    font-size: 22px;
    line-height: 1.36;
    font-weight: 500;
    margin: 0;
    color: #58595b;
}

.option-reservation .btn.btn-primary {
    min-width: 157px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 10px auto;
}

/* ------------------------------------------------------------ *\
	Voucher options
\* ------------------------------------------------------------ */
.voucher-block {
    color: #58595b;
    margin: 0 0 20px;
    border-radius: 5px;
    padding: 19px 19px 19px;
    border: #eaebec solid 1px;
}

.voucher-block .row {
    font-size: 18px;
}

.voucher-block .field-holder {
    display: inline-block;
    width: 50%;
}

.voucher-block .btn {
    padding: 7px 14px 7px;
}

.voucher-block .col-md-5 {
    line-height: 45px;
    height: 45px;
}

.post-content.options {
    margin-top: 14px;
}

.post-content.options h2 {
    float: none;
    margin-bottom: 6px;
    font-size: 16px;
}

.post-content.options li {
    margin-bottom: 4px;
}

/* ------------------------------------------------------------ *\
	Total Reservation
\* ------------------------------------------------------------ */
.total-reservation {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #eaebec;
    margin-bottom: 20px;
}

.total-reservation h3 {
    color: #58595b;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
}

.total-reservation .alert-info {
    margin-bottom: 0;
    padding: 15px;
}

.total-reservation .list-inline {
    margin: 0;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.total-reservation .list-inline li {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 1.25;
    color: #58595b;
}

.total-reservation .list-inline li .tooltip-button {
    margin-top: 7px;
    margin-left: 5px;
}

.price-list {
    margin-bottom: 0;
}

.price-list li {
    width: 100%;
}

.listing-post .time-price {
    width: 120px;
}

.location-holder {
    margin-bottom: 10px;
}

/** Duplication **/
.listing-post .info-btns.duplication li, .listing-post .info-btns.duplication li.select-holder {
    width: 24%;
}

/** End listing alerts **/

.form-area .about-info .label {
    max-width: 190px;
}

.form-area .about-info .language button[type="button"] {
    margin: 10px 0 0 150px;
    float: none;
}

.form-area .about-info .languages-block .language .label {
    width: 150px;
    max-width: 210px;
    margin: 16px 0 0;
}

.form-area .about-info .from .label {
    margin: 7px 11px 0 0;
    width: 139px;
}

.newstyle {
    border: 0;
    margin: 15px 0;
}

.clear_input, .clear_input:hover {
    text-decoration: none;
    color: #c6ccd2;
    transition: background 0.4s;
    font-size: 20px;
}

.clear_input:hover {
    color: #afb8c0;
}

.author-info a {
    color: #808285;
    text-decoration: none;
}

.form-area #characteristics h3, .form-area #categories-fields h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.high-rank-title, .section-title {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.infoarea {
    padding-bottom: 0;
}

/* ------------------------------------------------------------ *\
    Slider Secondary
\* ------------------------------------------------------------ */
.slider-secondary {
    position: relative;
}

.slider-secondary .slides {
    list-style-type: none;
}

.slider-secondary .slide {
    float: left;
}

.slider-secondary .listing-post {
    margin: auto;
    margin-bottom: 0;
}

.slider-secondary .slider-secondary-actions a {
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    display: block;
    position: absolute;
    top: 50%;
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-secondary .slider-secondary-actions a.slider-prev {
    background-image: url(../images/arrow-left.png);
    left: -30px;
}

.slider-secondary .slider-secondary-actions a.slider-next {
    background-image: url(../images/arrow-right.png);
    right: -13px;
}

.slider-secondary .slider-secondary-paging {
    padding-top: 30px;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.slider-secondary .slider-secondary-paging a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    width: 13px;
    height: 13px;
    border-radius: 7px;
    background-color: #fff;
}

.slider-secondary .slider-secondary-paging a.selected {
    width: 39px;
}

.tips-section .slides, .testimonial-slider .slides {
    padding: 5px 0;
}

.tips-section .listing-post .frame {
    min-height: 327px;
}

.slider-secondary .slider-secondary-paging a {
    border: 1px solid #58595b;
}

.slider-secondary .slider-secondary-paging {
    padding-bottom: 30px;
}

.slider-secondary .slider-secondary-actions a {
    width: 15px;
    height: 25px;
}

.tips-section .slider-secondary .slider-secondary-paging a.selected {
    width: 13px;
    background: #58595b;
}

.tips-section .caroufredsel_wrapper,
.tips-section .caroufredsel_wrapper .slides {
    height: 380px !important;
}

.tips-section .listing-post .img-holder {
    height: 268px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.tips-section .post-info {
    display: table;
    width: 100%;
}

.tips-section .slides .listing-content {
    width: auto;
    max-width: 380px;
    position: relative;
    margin: 0 auto;
}

.slider-secondary .slider-secondary-actions a.slider-prev {
    left: -15px;
}

@media screen and (max-width: 767px) {
    .form-category .col.categories,
    .form-category .form-holder .col.time,
    .form-category .form-holder .col.time .col,
    .form-category .form-holder .col.time .col:first-child,
    .form-category .form-holder input.btn-default,
    #search-container .range-area,
    #search-container .selection-holder,
    #search-container .selection-holder > .select-holder:first-child {
        width: auto;
    }

    .form-category .form-holder .col.time .time-fields #datetimepicker3 {
        margin-left: 0;
    }

    .form-category .listing-alert {
        width: 100%;
        padding: 0 5px;
    }

    .ui-dialog {
        width: calc(100% - 30px) !important;
        left: 15px !important;
        right: 15px !important;
    }
}

/* seo listing result */
[data-id="seo-desc"] {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    border-top: 1px #e8e8e8 dashed;
}

[data-id="seo-desc-moved"] [data-id="seo-desc"] {
    position: relative;
    bottom: auto;
}

/* Various */
.jcf-option::first-letter, .jcf-select-text::first-letter {
    text-transform: capitalize;
}

/* categories */
.listing-categories .jcf-list .jcf-option:after {
    content: '';
}

.listing-categories .jcf-list-box {
    min-width: 270px;
}

.listing-categories .jcf-list .jcf-optgroup-caption, .listing-categories .jcf-list .jcf-option {
    padding: 9px 38px 9px 19px;
}

.listing-categories .jcf-list-box {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.listing-categories .jcf-list-box .jcf-selected {
    color: #ffffff;
    background: #7a7a7a;
}

.listing-categories .jcf-list .jcf-option:hover {
    cursor: pointer;
    color: #000000;
    background: #e6e6e6;
}

.listing-categories .jcf-list .jcf-disabled {
    background: transparent !important;
    color: #58595b !important;
}

.categories-list .close {
    margin-bottom: 5px;
}

.categories-list .close {
    position: static;
    margin: 6px -11px 0 11px;
    display: inline-block;
    vertical-align: middle;
}

/*listing categories */
#categories-fields-wrapper {
    margin: 30px 0 20px 0
}

#category-form.new #categories-fields-wrapper #categories-fields {
    margin: 0 14px;
}

#categories-fields .form-block {
    border: #eaebec solid 1px;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 20px;
    background-color: #fff;
}

#categories-fields .form-block + .form-block {
    margin: 20px 0 0;
}

#categories-fields .features-list {
    border: #eaebec solid 1px;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 0 10px;
    padding: 10px 10px 18px;
    vertical-align: top;
    width: 32%;
    float: none;
    display: inline-block;
    background-color: #f7f7f7;
}

#categories-fields .form-block .features-list:nth-child(3n-1) {
    margin-left: 0;
}

#categories-fields .form-block .features-list:nth-child(n+5) {
    margin-top: 20px;
}

#categories-fields .form-block .features-list li i {
    display: inline-block;
    margin: -1px 4px 0 0;
}

/** Search categories */
.form-category .multiselect-container > li.multiselect-group label, .form-category .multiselect-container > li > a > label {
    padding-left: 10px;
}

.form-category .multiselect-container > li > a {
    text-decoration: none;
}

.form-category .multiselect-container > li > a input[type="checkbox"] {
    width: 0;
}

.form-category #categories-fields .form-block {
    padding: 10px;
    margin: 0 0 10px 10px;
}

.form-category #categories-fields .form-block + .form-block {
    margin: 0 0 10px 10px;
}

.form-category #search-container .selection-holder #categories-fields {
    width: 100%;
}

.form-category #categories-fields .list-unstyled {
    display: inline-block;
    margin: 10px 0 0 10px;
    width: 23%;
}

.form-category #categories-fields .list-unstyled li:first-child {
    margin-bottom: 6px;
}

#search-container #categories-fields .list-unstyled li.field-row {
    width: 100%;
    margin-bottom: 10px;
}

/** date range*/
.form-category #categories-fields .field-row.type-date label {
    float: left;
    clear: both;
}

.form-category #categories-fields .field-row.type-date .display-range {
    width: 100%;
}

.form-category #categories-fields .field-row.type-date .display-range .title {
    display: none;
}

.form-category #categories-fields .field-row.type-date .display-range .col {
    width: 46%;
}

.form-category #categories-fields .field-row.type-date .display-range .input-append {
    padding-right: 0;
}

.form-category #categories-fields .field-row.type-date .display-range .add-on {
    display: none;
}

/** number range */
.form-category #categories-fields .number-range {
    width: 100%;
}

.form-category .form-holder {
    display: inline-block;
    vertical-align: top;
    /*margin-bottom: 0;*/
    border-radius: 4px 4px 0 0;
    border: 1px solid #e8e8e8;
    width: 100%;
    max-width: 100%;
}

.form-category .sub-holder {
    margin: -40px 0 20px 0;
    padding: 20px 19px 10px;
    border-radius: 0 0 4px 4px;
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    max-width: 100%;
}

/* ------------------------------------------------------------ *\
	Feeds
\* ------------------------------------------------------------ */
.section-feeds {
    padding-bottom: 80px;
    float: left;
    clear: both;
}

.section-feeds .section-head {
    margin-bottom: 30px;
    text-align: center;
}

.feed-items {
    margin-right: -20px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none outside none;
}

.feed-item {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 280px;
    height: 280px;
    border-radius: 4px;
    margin-right: 20px;
    vertical-align: top;
    border: 1px solid #eaebec;
}

.feed-item img {
    width: 100%;
    height: auto;
}

.feed-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    background: rgba(0, 0, 0, 0.45);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.79;
    color: #fff;
    font-weight: 400;
    text-align: right;
}

.feed-item-content h2 {
    position: relative;
    color: #fff;
    text-transform: initial;
    text-align: left;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 5px;
    height: 52px;
}

.feed-item-content p {
    text-align: right;
}

.feed-item-content a {
    text-decoration: underline;
    line-height: 2;
    color: #fff;
}

.feed-item-content a:hover {
    text-decoration: none;
}

.listing-detail .blog .head {
    padding-bottom: 5px;
}

.feeds-holder .meta {
    overflow: hidden;
}

.feeds-holder .meta time {
    float: left;
    text-align: left;
}

.feeds-holder .meta .rating {
    float: right;
    padding-right: 10px;
}

.feeds-holder .meta .list-inline > li {
    padding-left: 0;
    padding-right: 0;
    color: #efd234;
}

.feeds-holder .author-name {
    white-space: nowrap;
}

.feed-items-hover .feed-item-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.feed-items-hover .feed-item-image:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    transition: opacity .4s;
}

.feed-items-hover .feed-item:hover .feed-item-image:after {
    opacity: 1;
}

@media (max-width: 1199px) {
    .feed-item {
        width: 23%;
        margin-right: 2%;
    }

    .feed-item img {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 992px) {
    .feed-item {
        width: 48%;
        margin-bottom: 15px;
    }

    .feed-item img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .feed-item {
        width: 48%;
        margin-bottom: 15px;
    }

    .feed-item img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .feed-items {
        margin-right: 0;
    }

    .feed-item {
        width: 100%;
        margin-right: 0;
    }
}

/** Nav Dropdown */
ul.dropdown-menu ul.menu-sub-tabs li.active a {
    background: #fff;
    color: #58595b;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li a:hover {
    background-color: #eeeeee;
    border-top-right-radius: 4px;
}

ul.menu-sub-tabs {
    width: 100%;
    margin-top: -6px;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover {
    border-top-right-radius: 0;
}

.navbar-nav > li > .dropdown-menu li + li.menu-second-tab {
    border: 0;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
    width: 50%;
    border-top-left-radius: 4px;
    height: 100%;
}

ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
    width: 50%;
    border-top-right-radius: 4px;
    height: 100%;
}

ul.dropdown-menu ul.menu-sub-tabs li {
    margin-right: 0px;
    padding-bottom: 0px;
    float: left;
    margin-top: 1px;
    background-color: #c6ccd2;
}

.navbar-default .navbar-nav > li > .dropdown-menu li {
    font-size: 12px;
}

.rating-block {
    display: inline-block;
}

.tips-section .home-comment-counter {
    float: left;
    margin-left: 10px;
    line-height: 40px;
    font-size: 16px;
    text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
}