/*Favourite active class*/
.listing-post .favourit {
    cursor: pointer;
}

.listing-post .active, .tabset-holder .active .icon-heart {
    text-decoration: none;
    background: #c53f4e;
}

.listing-area, .listing-holder {
    display: block !important;
}

/* END Billing CSS Invoice  */

.listing-box .frame .post-content .alignleft img,
.listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder img {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
}

/*Overriding all.css*/
.ico.icon-success {
    background: #fff url('../images/icon_success.png') no-repeat 11px 12px;
}

.ico.icon-error {
    background: #fff url('../images/icon_error.png') no-repeat 14px 15px;
}

.ico.icon-warning {
    background: #fff url('../images/icon_warning.png') no-repeat 11px 12px;
}

.ico.icon-info {
    background: #fff url('../images/icon_info.png') no-repeat 11px 12px;
}

.flashes .alert .ico {
    left: 18px;
}

/** form field error message **/
.errors, .error {
    color: #d8292f;
    font-size: 10px;
    margin: 5px;
}

/** Search ( characteristics ) **/
.form-category .area .col .title {
    text-align: right;
    margin-right: 7px;
}

.form-category .area {
    overflow: visible;
}

.form-category .flexibility .input-append {
    padding: 0 10px 0 0;
    line-height: 36px;
}

.form-category .flexibility .jcf-select {
    width: 60%;
}

.error-page {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    margin-top: 97px;
}

/** Cancellation Policy **/
.info-policy {
    float: right;
    margin: 9px;
}

/*end of similar listing css*/
.listing-title {
    margin-top: 0 !important;
}

.multiselect-container.dropdown-menu {
    width: 100%;
}

img.loading {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

#modal .modal-dialog .home-content-body {
    padding: 0 0 20px 0;
    text-align: center;
}

.listing-box .frame .post-content .alignleft {
    width: 60px;
    height: 45px;
    position: relative;
}

.listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder {
    width: 384px;
    height: 288px;
    position: relative;
}

/** Price include / exclude text */
.listing-post .price {
    text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
}

/* new menu for cocorico*/
ul.dropdown-menu li.dropdown.open.display-tab ul {
    width: 100%;
    padding: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 0;
}

ul.dropdown-menu ul.menu-sub-tabs li a {
    display: inline-block;
    border: 0;
    font-size: 14px;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li.active a {
    background: #fff;
    color: #58595b;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li a:hover {
    background-color: #eeeeee;
    border-top-right-radius: 4px;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover {
    border-top-right-radius: 0;
}

.navbar-nav > li > .dropdown-menu li + li.menu-second-tab {
    border: 0;
}

ul.display-sub-tabs ul.dropdown-menu li a {
    font-size: 14px;
}

li.dropdown.display-tab ul.dropdown-menu a {
    padding: 7px 20px;
}

.navbar-default .navbar-nav > li > .dropdown-menu li + li.dropdown.display-tab {
    border: 0;
}

ul.menu-sub-tabs > li.active > a,
ul.menu-sub-tabs > li.active > a:hover,
ul.menu-sub-tabs > li.active > a:focus {
    border: 0;
    background-color: #f7f7f7;
}

ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
    width: 50%;
    border-top-right-radius: 4px;
    height: 100%;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
    width: 50%;
    border-top-left-radius: 4px;
    height: 100%;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    width: 145%;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list a {
    margin-left: 0;
    width: 100%;
    padding: 13.5px;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list li.firstTab a, li.firstTab.active a {
    border-top-left-radius: 4px;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.menu-second-tab.secondTab a {
    border-top-right-radius: 4px;
}

li.menu-second-tab.secondTab.active a {
    width: 99.35%;
}

li.firstTab.active a:hover {
    border-top-right-radius: 0;
}

ul.dropdown-menu li a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@-moz-document url-prefix() {
    ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
        margin-left: 0;
    }
    .navbar-default .navbar-nav > li > .dropdown-menu {
        width: 150%;
    }
}

@media screen and (max-width: 767px) {
    ul.menu-sub-tabs {
        width: auto;
        margin-top: 0;
    }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        margin: 15px 0 0 0;
        border: 0;
        width: auto;
    }

    ul.menu-sub-tabs {
        margin-top: -10px;
        display: block;
        width: 100%;
    }

    .navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list a {
        display: inline-block;
        width: 100%;
        border-top-right-radius: 4px;
    }

    ul.dropdown-menu ul.menu-sub-tabs li.firstTab,
    ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
        width: 50%;
    }

    ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover,
    .navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list li.firstTab a {
        border-top-right-radius: 0;
    }

    .navbar-default .navbar-nav li ul.display-sub-tabs li.firstTab a {
        border-top-left-radius: 0;
    }

    .navbar-default .navbar-collapse.in {
        overflow: visible;
        display: initial;
    }

    ul.dropdown-menu li a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

}

/* end of new menu for cocorico*/

/*  Phone  */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: pointer;
}

ul.collection {
    padding: 0;
}

#footer .by.credit {
    margin-right: 10px;
}

.btn.btn-default.multiselect-clear-filter {
    display: none;
}

/* ------------------------------------------------------------ *\
	Scroll bar
\* ------------------------------------------------------------ */
.jcf-scrollbar {
    background: none;
    width: 9px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
    display: none;
}

.jcf-scrollbar-vertical .jcf-scrollbar-slider {
    margin: 0;
    background: #e9eae9;
    height: 100% !important;
    width: 9px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
    background: #ababab;
    width: 9px;
}

.post-content.options {
    margin-top: 14px;
}

.post-content.options h2 {
    float: none;
    margin-bottom: 6px;
    font-size: 16px;
}

.post-content.options li {
    margin-bottom: 4px;
}

/* ------------------------------------------------------------ *\
	Total Reservation
\* ------------------------------------------------------------ */
.listing-post .time-price {
    width: 120px;
}

/** Duplication **/
.listing-post .info-btns.duplication li, .listing-post .info-btns.duplication li.select-holder {
    width: 24%;
}

/** End listing alerts **/

.newstyle {
    border: 0;
    margin: 15px 0;
}

.high-rank-title, .section-title {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.infoarea {
    padding-bottom: 0;
}

/* ------------------------------------------------------------ *\
    Slider Secondary
\* ------------------------------------------------------------ */
.slider-secondary {
    position: relative;
}

.slider-secondary .slides {
    list-style-type: none;
}

.slider-secondary .slide {
    float: left;
}

.slider-secondary .listing-post {
    margin: auto;
    margin-bottom: 0;
}

.slider-secondary .slider-secondary-actions a {
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    display: block;
    position: absolute;
    top: 50%;
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-secondary .slider-secondary-actions a.slider-prev {
    background-image: url(../images/arrow-left.png);
    left: -30px;
}

.slider-secondary .slider-secondary-actions a.slider-next {
    background-image: url(../images/arrow-right.png);
    right: -13px;
}

.slider-secondary .slider-secondary-paging {
    padding-top: 30px;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.slider-secondary .slider-secondary-paging a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    width: 13px;
    height: 13px;
    border-radius: 7px;
    background-color: #fff;
}

.slider-secondary .slider-secondary-paging a.selected {
    width: 39px;
}

.tips-section .slides, .testimonial-slider .slides {
    padding: 5px 0;
}

.tips-section .listing-post .frame {
    min-height: 327px;
}

.slider-secondary .slider-secondary-paging a {
    border: 1px solid #58595b;
}

.slider-secondary .slider-secondary-paging {
    padding-bottom: 30px;
}

.slider-secondary .slider-secondary-actions a {
    width: 15px;
    height: 25px;
}

.tips-section .slider-secondary .slider-secondary-paging a.selected {
    width: 13px;
    background: #58595b;
}

.tips-section .caroufredsel_wrapper,
.tips-section .caroufredsel_wrapper .slides {
    height: 380px !important;
}

.tips-section .listing-post .img-holder {
    height: 268px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.tips-section .post-info {
    display: table;
    width: 100%;
}

.tips-section .slides .listing-content {
    width: auto;
    max-width: 380px;
    position: relative;
    margin: 0 auto;
}

.slider-secondary .slider-secondary-actions a.slider-prev {
    left: -15px;
}

@media screen and (max-width: 767px) {
    .form-category .listing-alert {
        width: 100%;
        padding: 0 5px;
    }

    .ui-dialog {
        width: calc(100% - 30px) !important;
        left: 15px !important;
        right: 15px !important;
    }
}

/* seo listing result */
[data-id="seo-desc"] {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    border-top: 1px #e8e8e8 dashed;
}

[data-id="seo-desc-moved"] [data-id="seo-desc"] {
    position: relative;
    bottom: auto;
}

/* Various */
.jcf-option::first-letter, .jcf-select-text::first-letter {
    text-transform: capitalize;
}

/** Search categories */
.form-category .multiselect-container > li.multiselect-group label, .form-category .multiselect-container > li > a > label {
    padding-left: 10px;
}

.form-category .multiselect-container > li > a {
    text-decoration: none;
}

.form-category .multiselect-container > li > a input[type="checkbox"] {
    width: 0;
}

/* ------------------------------------------------------------ *\
	Feeds
\* ------------------------------------------------------------ */
.section-feeds {
    padding-bottom: 80px;
    float: left;
    clear: both;
}

.section-feeds .section-head {
    margin-bottom: 30px;
    text-align: center;
}

.feed-items {
    margin-right: -20px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none outside none;
}

.feed-item {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 280px;
    height: 280px;
    border-radius: 4px;
    margin-right: 20px;
    vertical-align: top;
    border: 1px solid #eaebec;
}

.feed-item img {
    width: 100%;
    height: auto;
}

.feed-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    background: rgba(0, 0, 0, 0.45);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.79;
    color: #fff;
    font-weight: 400;
    text-align: right;
}

.feed-item-content h2 {
    position: relative;
    color: #fff;
    text-transform: initial;
    text-align: left;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 5px;
    height: 52px;
}

.feed-item-content p {
    text-align: right;
}

.feed-items-hover .feed-item-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.feed-items-hover .feed-item-image:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    transition: opacity .4s;
}

.feed-items-hover .feed-item:hover .feed-item-image:after {
    opacity: 1;
}

@media (max-width: 1199px) {
    .feed-item {
        width: 23%;
        margin-right: 2%;
    }

    .feed-item img {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 992px) {
    .feed-item {
        width: 48%;
        margin-bottom: 15px;
    }

    .feed-item img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .feed-item {
        width: 48%;
        margin-bottom: 15px;
    }

    .feed-item img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .feed-items {
        margin-right: 0;
    }

    .feed-item {
        width: 100%;
        margin-right: 0;
    }
}

/** Nav Dropdown */
ul.dropdown-menu ul.menu-sub-tabs li.active a {
    background: #fff;
    color: #58595b;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li a:hover {
    background-color: #eeeeee;
    border-top-right-radius: 4px;
}

ul.menu-sub-tabs {
    width: 100%;
    margin-top: -6px;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover {
    border-top-right-radius: 0;
}

.navbar-nav > li > .dropdown-menu li + li.menu-second-tab {
    border: 0;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
    width: 50%;
    border-top-left-radius: 4px;
    height: 100%;
}

ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
    width: 50%;
    border-top-right-radius: 4px;
    height: 100%;
}

ul.dropdown-menu ul.menu-sub-tabs li {
    margin-right: 0px;
    padding-bottom: 0px;
    float: left;
    margin-top: 1px;
    background-color: #c6ccd2;
}

.navbar-default .navbar-nav > li > .dropdown-menu li {
    font-size: 12px;
}

/**
 * Skin.css
 */
@font-face {
    font-family: 'Otomo';
    src: url("../fonts/otomo-sans.woff") format("woff"), url("../fonts/otomo-sans.ttf")  format("truetype");
}

body {
    font-family: 'Otomo', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.visual {
    margin: 0;
    background: url(../../../images/banner-backgound.jpg) no-repeat 13% 30%;
    background-size: 100% !important;
    height: 440px;
    padding: 0;
}

.visual h1 {
    color: #ffffff;
    margin: 0 auto;
    width: 40vw;
    text-align: left;
    padding-left: 100px;
    font: 700 40px/58px 'Otomo', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.col-xs-12.col-lg-8.col-lg-push-2 {
    width: 100% !important;
    text-align: right;
}

.navbar-default .navbar-nav > li {
    margin: 0 0 0 50px;
    font-size: 18px !important;
}

.home-page .form-category {
    border-radius: 10px !important;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 1, 0.15);
    box-shadow: 0 1rem 3rem rgba(0, 0, 1, 0.18);
    border: 2px solid #d43b4d !important;
    width: 900px;
    float: none;
    background-color: #fefefe !important;
    margin-right: 0;
    margin-top: 120px;
}

.btn-primary {
    color: #ffffff;
    background-color: #d43b4d !important;
    border-color: transparent;
}

.visual .title-frame {
    padding: 6px 0 14px;
    display: table-cell;
    vertical-align: bottom !important;
}

.form-category .area {
    margin: 0 !important;
}

.infoarea {
    padding: 50px 0;
}

.infoarea .icon {
    margin: 0 22px 0 0;
    width: 75px !important;
}

.deskripsi {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}

.listing-post .price {
    display: block;
    margin: 0 0 -3px;
    font-size: 25px !important;
    line-height: 1em !important;
    white-space: nowrap;
    text-shadow: none !important;
}

.listing-post .time-price {
    width: auto !important;
    background-color: #fff;
    border-radius: 0 0 10px !important;
    padding: 10px !important;
    margin: 0px !important;
    color: #fff !important;
    background: -webkit-linear-gradient(to top, #ec535b, #d4434c);
    background: linear-gradient(to top, #ec535b, #d4434c);
}

.listing-post .time-price p {
    margin: 0;
    padding-top: 10px !important;
    text-align: right !important;
    font-size: 14px;
}

.btn-default {
    color: #ffffff;
    background-color: #d43b4d !important;
    border-color: transparent;
}

.listing-post .frame {
    overflow: hidden;
    border-radius: 10px !important;
    background: #ffffff;
    border: #eaebec solid 1px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
}

.slider-secondary .listing-post {
    width: 300px !important;
}

.listing-post .title {
    font-size:15px !important;
}

.bottom-container {
    color: #ffffff;
    background: #a22937 !important;
}

.aside-footer {
    background: #999999 !important;
    color: #f5f5f5 !important;
    padding: 80px 0 !important;
}

.aside-footer .navarea {
    overflow: inherit !important;
    line-height: 17px;
}

.aside-footer .title {
    display: block;
    font-weight: 400;
    margin: 0 0 12px;
    font-size: 25px !important;
    text-transform: lowercase;
}

.slider-secondary .slider-secondary-paging a.selected {
    width: 39px !important;
    background: #d43b4d;
    border: 0 !important;
}

#footer p {
    margin: 0 !important;
    overflow: hidden;
}

.feed-item {
    height: 215px !important;
    border-radius: 10px !important;
}

@media screen and (max-width: 480px) {

    .visual {
        background: url(../../images/banner-backgound.jpg) no-repeat 12%;
        background-size: 103vh !important;
        background-position-y: top !important;
        height: 55vh !important;
        display: table-footer-group;
    }

    .visual h1 {
        width: 95vw !important;
        font: 700 21px 'Otomo', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        color: #58595b;
    }

    .visual .title-holder {
        height: 52vh;
    }

    .infoarea {
        padding: 25px 0;
    }

    .home-page .form-category {
        width: auto !important;
        float: left !important;
        margin: 0 25px 0 !important;
        padding: 20px !important;
    }

    .col-xs-12.col-lg-8.col-lg-push-2 {
        text-align: center;
    }

    .form-category .col:first-child {
        margin-bottom: 10px !important;
        width: 100% !important;
        float: left !important;
    }

    .form-category .col + .col {
        width: 100% !important;
        float: left !important;
        margin-bottom: 10px !important;
    }

    .form-category .col-xs-12 {
        padding: 0 !important;
        text-align: left !important;
    }

    .home-page .form-category .field-holder {
        width: 200px !important;
    }

    .form-category .title {
        /* margin: 10px 4px 0 0; */
        width: 65px !important;
    }

    .form-category .col + .col .title {
        width: 65px !important;
    }

    .form-category input.btn-default {
        width: 200px !important;
        margin-left: 75px !important;
        background-color: #737373 !important;
    }

    .home-page .form-category .multiselect .btn-group, .home-page .form-category .multiselect .btn-default {
        width: 200px !important;
    }

    input#location {
        width: 200px !important;
    }

    .infoarea .info-box {
        padding: 20px;
        text-align: center;
        width: 33% !important;
        border-top: 0 !important;
        border-left: solid 1px #e6e6e6;
    }

    .infoarea h2 {
        margin: 0;
        text-transform: uppercase;
        font: 500 14px/22px 'Otomo', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }

    .infoarea p {
        display: none;
    }

    .infoarea .icon {
        width: 60% !important;
        margin: auto;
    }

    .footer-right {
        width: 100% !important;
        margin: 0;
        float: left !important;
        text-align: left !important;
        padding-top: 15px !important;
        padding-left: 0 !important;
    }
}


@media screen and (max-width: 414px) {
    input#location {
        width: 100% !important;
    }

    .home-page .form-category .field-holder {
        width: 100% !important;
    }

    .form-category .area .col .title {
        text-align: left !important;
        padding-bottom: 6px !important;
        font-size: 16px !important;
        margin: 0px !important;
    }

    .form-category .multiselect {
        display: inline-block;
    }

    .home-page .form-category .multiselect {
        width: 100%;
    }

    .home-page .form-category .multiselect .btn-group, .home-page .form-category .multiselect .btn-default {
        width: 100% !important;
    }

    .form-category input.btn-default {
        width: 100% !important;
        margin-top: 15px;
        margin-left: 0px !important;
        background-color: #737373 !important;
    }

    .visual h1 {
        width: 95vw !important;
        font: 700 21px 'Otomo', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        padding: 0 50px;
        text-align: center !important;
    }

    .infoarea .info-box {
        padding: 10px !important;
    }

    .slider-secondary .slider-secondary-actions a.slider-prev {
        left: 0 !important;
        top: 40% !important;
        background-color: #ffffff !important;
        border-radius: 0 5px 5px 0;
        width: 40px !important;
        height: 50px !important;
        background-size: inherit;
        background-position: center;
        box-shadow: 2px 4px 12px rgba(0,0,0,0.8);
    }

    .slider-secondary .slider-secondary-actions a.slider-next {
        right: 0px !important;
        top: 40% !important;
        background-color: #ffffff !important;
        border-radius: 5px 0 0 5px;
        width: 40px !important;
        height: 50px !important;
        background-size: inherit;
        background-position: center;
        box-shadow: 2px 4px 12px rgba(0,0,0,0.8);
    }

    .topbar ul li {
        display: inline-block !important;
        letter-spacing: .5px;
        font-size: 14px;
        float: right;
    }

    .topbar ul li:first-child {
        text-align: left !important;
        font-size: 13px;
        float: left;
        width: 40vw;
        display: inline !important;
    }

    .aside-footer {
        padding: 50px 0 !important;
    }

    .aside-footer .navarea {
        clear: both;
        padding: 30px 0 0;
    }

    .aside-footer .contact-info {
        width: 100%;
        padding: 0 0 30px;
        border-bottom: #bbbbbb solid 1px;
        text-align: left;
    }

}

@media screen and (max-width: 320px) {
    .visual .title-holder {
        height: 54vh;
    }
}
