/*Favourite active class*/
.listing-post .favourit {
    cursor: pointer;
}

.listing-post .active, .tabset-holder .active .icon-heart {
    text-decoration: none;
    background: #c53f4e;
}

.listing-area, .listing-holder {
    display: block !important;
}

/* END Billing CSS Invoice  */

.listing-box .frame .post-content .alignleft img,
.listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder img {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
}

/*Overriding all.css*/

/** Common/_flash.html.twig **/

.alert-error-new {
    background: #fababa;
    border-color: #b82422;
    color: #BB2D2B;
    padding: 16px 5px 16px 75px;
}

.alert-warning-new {
    background: #ffe9ad;
    border-color: #fab418;
    color: #C58705;
    padding: 26px 5px 28px 75px;
}

.alert-success-new {
    background: #E1EFBB;
    border-color: #AEBC85;
    color: #708A29;
    padding: 16px 5px 16px 75px;
}

.alert-info-new {
    background: #DDF1F3;
    border-color: #0A8FA1;
    color: #89C1CA;
    padding: 26px 5px 28px 75px;
}

.ico.icon-success {
    background: #fff url('../images/icon_success.png') no-repeat 11px 12px;
}

.ico.icon-error {
    background: #fff url('../images/icon_error.png') no-repeat 14px 15px;
}

.ico.icon-warning {
    background: #fff url('../images/icon_warning.png') no-repeat 11px 12px;
}

.ico.icon-info {
    background: #fff url('../images/icon_info.png') no-repeat 11px 12px;
}

.flashes .alert .ico {
    left: 18px;
}

/** form field error message **/
.errors, .error {
    color: #d8292f;
    font-size: 10px;
    margin: 5px;
}

/** Search ( characteristics ) **/
.form-category .area .col .title {
    text-align: right;
    margin-right: 7px;
}

.form-category .area {
    overflow: visible;
}

.form-category .form-holder .col.time .col.day-fields:first-child,
.form-category .form-holder .col.time .col.day-fields.display-range:first-child,
.form-category .form-holder .col.time .col.day-fields.display-duration .col:first-child {
    width: 99%;
}

.form-category .form-holder .col.time .col.day-fields.display-duration,
.form-category .form-holder .col.time .col.day-fields.nb-days {
    width: 49%;
}

.form-category .form-holder .col.time .col.day-fields.display-duration .input-append.date {
    position: relative;
    padding: 0 35px 0 0;
    width: 152px;
}

.form-category .form-holder .col.time #time_range_start {
    margin-right: 10px;
}

.form-category .form-holder .col.time .nb-days select {
    display: inline-block;
    max-width: 70px;
}

.form-category .form-holder .col.time .nb-days .title {
    display: inline-block;
    float: none;
    position: relative;
    margin: 0;
    vertical-align: middle;
}


.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
    color: #ddd;
}

.form-category .form-holder .col.time .flexibility {
    width: 50%;
    margin-top: 0;
}

.form-category .flexibility .input-append {
    padding: 0 10px 0 0;
    line-height: 36px;
}

.form-category .flexibility .jcf-select {
    width: 60%;
}

.error-page {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    margin-top: 97px;
}

/** Cancellation Policy **/
.info-policy {
    float: right;
    margin: 9px;
}

/*end of similar listing css*/
.listing-title {
    margin-top: 0 !important;
}

.multiselect-container.dropdown-menu {
    width: 100%;
}

img.loading {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

#modal .modal-dialog .home-content-body {
    padding: 0 0 20px 0;
    text-align: center;
}

.listing-box .frame .post-content .alignleft {
    width: 60px;
    height: 45px;
    position: relative;
}

.listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder {
    width: 384px;
    height: 288px;
    position: relative;
}

/** Price include / exclude text */
.listing-post .price {
    text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
}

/* new menu for cocorico*/
ul.dropdown-menu li.dropdown.open.display-tab ul {
    width: 100%;
    padding: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 0;
}

ul.dropdown-menu ul.menu-sub-tabs li a {
    display: inline-block;
    border: 0;
    font-size: 14px;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li.active a {
    background: #fff;
    color: #58595b;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li a:hover {
    background-color: #eeeeee;
    border-top-right-radius: 4px;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover {
    border-top-right-radius: 0;
}

.navbar-nav > li > .dropdown-menu li + li.menu-second-tab {
    border: 0;
}

ul.display-sub-tabs ul.dropdown-menu li a {
    font-size: 14px;
}

li.dropdown.display-tab ul.dropdown-menu a {
    padding: 7px 20px;
}

.navbar-default .navbar-nav > li > .dropdown-menu li + li.dropdown.display-tab {
    border: 0;
}

ul.menu-sub-tabs > li.active > a,
ul.menu-sub-tabs > li.active > a:hover,
ul.menu-sub-tabs > li.active > a:focus {
    border: 0;
    background-color: #f7f7f7;
}

ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
    width: 50%;
    border-top-right-radius: 4px;
    height: 100%;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
    width: 50%;
    border-top-left-radius: 4px;
    height: 100%;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    width: 145%;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list a {
    margin-left: 0;
    width: 100%;
    padding: 13.5px;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list li.firstTab a, li.firstTab.active a {
    border-top-left-radius: 4px;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.menu-second-tab.secondTab a {
    border-top-right-radius: 4px;
}

li.menu-second-tab.secondTab.active a {
    width: 99.35%;
}

li.firstTab.active a:hover {
    border-top-right-radius: 0;
}

ul.dropdown-menu li a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@-moz-document url-prefix() {
    ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
        margin-left: 0;
    }
    .navbar-default .navbar-nav > li > .dropdown-menu {
        width: 150%;
    }
}

@media screen and (max-width: 767px) {
    ul.menu-sub-tabs {
        width: auto;
        margin-top: 0;
    }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        margin: 15px 0 0 0;
        border: 0;
        width: auto;
    }

    ul.menu-sub-tabs {
        margin-top: -10px;
        display: block;
        width: 100%;
    }

    .navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list a {
        display: inline-block;
        width: 100%;
        border-top-right-radius: 4px;
    }

    ul.dropdown-menu ul.menu-sub-tabs li.firstTab,
    ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
        width: 50%;
    }

    ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover,
    .navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list li.firstTab a {
        border-top-right-radius: 0;
    }

    .navbar-default .navbar-nav li ul.display-sub-tabs li.firstTab a {
        border-top-left-radius: 0;
    }

    .navbar-default .navbar-collapse.in {
        overflow: visible;
        display: initial;
    }

    ul.dropdown-menu li a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

}

/* end of new menu for cocorico*/

/*  Phone  */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: pointer;
}

ul.collection {
    padding: 0;
}

#footer .by.credit {
    margin-right: 10px;
}

.btn.btn-default.multiselect-clear-filter {
    display: none;
}

/* ------------------------------------------------------------ *\
	Scroll bar
\* ------------------------------------------------------------ */
.jcf-scrollbar {
    background: none;
    width: 9px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
    display: none;
}

.jcf-scrollbar-vertical .jcf-scrollbar-slider {
    margin: 0;
    background: #e9eae9;
    height: 100% !important;
    width: 9px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
    background: #ababab;
    width: 9px;
}

.post-content.options {
    margin-top: 14px;
}

.post-content.options h2 {
    float: none;
    margin-bottom: 6px;
    font-size: 16px;
}

.post-content.options li {
    margin-bottom: 4px;
}

/* ------------------------------------------------------------ *\
	Total Reservation
\* ------------------------------------------------------------ */
.listing-post .time-price {
    width: 120px;
}

/** Duplication **/
.listing-post .info-btns.duplication li, .listing-post .info-btns.duplication li.select-holder {
    width: 24%;
}

/** End listing alerts **/

.newstyle {
    border: 0;
    margin: 15px 0;
}

.high-rank-title, .section-title {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.infoarea {
    padding-bottom: 0;
}

/* ------------------------------------------------------------ *\
    Slider Secondary
\* ------------------------------------------------------------ */
.slider-secondary {
    position: relative;
}

.slider-secondary .slides {
    list-style-type: none;
}

.slider-secondary .slide {
    float: left;
}

.slider-secondary .listing-post {
    margin: auto;
    margin-bottom: 0;
}

.slider-secondary .slider-secondary-actions a {
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    display: block;
    position: absolute;
    top: 50%;
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-secondary .slider-secondary-actions a.slider-prev {
    background-image: url(../images/arrow-left.png);
    left: -30px;
}

.slider-secondary .slider-secondary-actions a.slider-next {
    background-image: url(../images/arrow-right.png);
    right: -13px;
}

.slider-secondary .slider-secondary-paging {
    padding-top: 30px;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.slider-secondary .slider-secondary-paging a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    width: 13px;
    height: 13px;
    border-radius: 7px;
    background-color: #fff;
}

.slider-secondary .slider-secondary-paging a.selected {
    width: 39px;
}

.tips-section .slides, .testimonial-slider .slides {
    padding: 5px 0;
}

.tips-section .listing-post .frame {
    min-height: 327px;
}

.slider-secondary .slider-secondary-paging a {
    border: 1px solid #58595b;
}

.slider-secondary .slider-secondary-paging {
    padding-bottom: 30px;
}

.slider-secondary .slider-secondary-actions a {
    width: 15px;
    height: 25px;
}

.tips-section .slider-secondary .slider-secondary-paging a.selected {
    width: 13px;
    background: #58595b;
}

.tips-section .caroufredsel_wrapper,
.tips-section .caroufredsel_wrapper .slides {
    height: 380px !important;
}

.tips-section .listing-post .img-holder {
    height: 268px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.tips-section .post-info {
    display: table;
    width: 100%;
}

.tips-section .slides .listing-content {
    width: auto;
    max-width: 380px;
    position: relative;
    margin: 0 auto;
}

.slider-secondary .slider-secondary-actions a.slider-prev {
    left: -15px;
}

@media screen and (max-width: 767px) {
    .form-category .col.categories,
    .form-category .form-holder .col.time,
    .form-category .form-holder .col.time .col,
    .form-category .form-holder .col.time .col:first-child,
    .form-category .form-holder input.btn-default,
    #search-container .range-area,
    #search-container .selection-holder,
    #search-container .selection-holder > .select-holder:first-child {
        width: auto;
    }

    .form-category .listing-alert {
        width: 100%;
        padding: 0 5px;
    }

    .ui-dialog {
        width: calc(100% - 30px) !important;
        left: 15px !important;
        right: 15px !important;
    }
}

/* seo listing result */
[data-id="seo-desc"] {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    border-top: 1px #e8e8e8 dashed;
}

[data-id="seo-desc-moved"] [data-id="seo-desc"] {
    position: relative;
    bottom: auto;
}

/* Various */
.jcf-option::first-letter, .jcf-select-text::first-letter {
    text-transform: capitalize;
}

/** Search categories */
.form-category .multiselect-container > li.multiselect-group label, .form-category .multiselect-container > li > a > label {
    padding-left: 10px;
}

.form-category .multiselect-container > li > a {
    text-decoration: none;
}

.form-category .multiselect-container > li > a input[type="checkbox"] {
    width: 0;
}

/* ------------------------------------------------------------ *\
	Feeds
\* ------------------------------------------------------------ */
.section-feeds {
    padding-bottom: 80px;
    float: left;
    clear: both;
}

.section-feeds .section-head {
    margin-bottom: 30px;
    text-align: center;
}

.feed-items {
    margin-right: -20px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none outside none;
}

.feed-item {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 280px;
    height: 280px;
    border-radius: 4px;
    margin-right: 20px;
    vertical-align: top;
    border: 1px solid #eaebec;
}

.feed-item img {
    width: 100%;
    height: auto;
}

.feed-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    background: rgba(0, 0, 0, 0.45);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.79;
    color: #fff;
    font-weight: 400;
    text-align: right;
}

.feed-item-content h2 {
    position: relative;
    color: #fff;
    text-transform: initial;
    text-align: left;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 5px;
    height: 52px;
}

.feed-item-content p {
    text-align: right;
}

.feed-item-content a {
    text-decoration: underline;
    line-height: 2;
    color: #fff;
}

.feed-item-content a:hover {
    text-decoration: none;
}

.listing-detail .blog .head {
    padding-bottom: 5px;
}

.feeds-holder .meta {
    overflow: hidden;
}

.feeds-holder .meta time {
    float: left;
    text-align: left;
}

.feeds-holder .meta .rating {
    float: right;
    padding-right: 10px;
}

.feeds-holder .meta .list-inline > li {
    padding-left: 0;
    padding-right: 0;
    color: #efd234;
}

.feeds-holder .author-name {
    white-space: nowrap;
}

.feed-items-hover .feed-item-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.feed-items-hover .feed-item-image:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    transition: opacity .4s;
}

.feed-items-hover .feed-item:hover .feed-item-image:after {
    opacity: 1;
}

@media (max-width: 1199px) {
    .feed-item {
        width: 23%;
        margin-right: 2%;
    }

    .feed-item img {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 992px) {
    .feed-item {
        width: 48%;
        margin-bottom: 15px;
    }

    .feed-item img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .feed-item {
        width: 48%;
        margin-bottom: 15px;
    }

    .feed-item img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .feed-items {
        margin-right: 0;
    }

    .feed-item {
        width: 100%;
        margin-right: 0;
    }
}

/** Nav Dropdown */
ul.dropdown-menu ul.menu-sub-tabs li.active a {
    background: #fff;
    color: #58595b;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li a:hover {
    background-color: #eeeeee;
    border-top-right-radius: 4px;
}

ul.menu-sub-tabs {
    width: 100%;
    margin-top: -6px;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover {
    border-top-right-radius: 0;
}

.navbar-nav > li > .dropdown-menu li + li.menu-second-tab {
    border: 0;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
    width: 50%;
    border-top-left-radius: 4px;
    height: 100%;
}

ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
    width: 50%;
    border-top-right-radius: 4px;
    height: 100%;
}

ul.dropdown-menu ul.menu-sub-tabs li {
    margin-right: 0px;
    padding-bottom: 0px;
    float: left;
    margin-top: 1px;
    background-color: #c6ccd2;
}

.navbar-default .navbar-nav > li > .dropdown-menu li {
    font-size: 12px;
}

.rating-block {
    display: inline-block;
}

.tips-section .home-comment-counter {
    float: left;
    margin-left: 10px;
    line-height: 40px;
    font-size: 16px;
    text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
}