@font-face {
    font-family: 'Otomo';
    src: url("../fonts/otomo-sans.woff") format("woff"), url("../fonts/otomo-sans.ttf")  format("truetype");
}

body {
    font-family: 'Otomo', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.sembunyi {
    display: none;
}

.visual {
    margin: 0 0 50px;
    background: url(../../images/wb1.jpg) no-repeat 20% 0 #d43b4d !important;
    background-size: contain !important;
    height: 440px !important;
}

.visual h1 {
    color: #ffffff;
    margin: 0 auto;
    width: 40vw;
    font: 700 40px/58px 'Otomo', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.col-xs-12.col-lg-8.col-lg-push-2 {
    width: 100% !important;
    text-align: right;
}

.navbar-default .navbar-nav > li {
    margin: 0 0 0 50px !important;
    font-size: 18px !important;
}

.home-page .form-category {
    border-radius: 10px !important;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 1, 0.15);
    box-shadow: 0 1rem 3rem rgba(0, 0, 1, 0.18);
    border: 2px solid #d43b4d !important;
    width: 900px;
    float: none;
    background-color: #fefefe !important;
    margin-right: 0;
    margin-top: 120px;
}

.btn-primary {
    color: #ffffff;
    background-color: #d43b4d !important;
    border-color: transparent;
}

.visual .title-frame {
    padding: 6px 0 14px;
    display: table-cell;
    vertical-align: bottom !important;
}

.form-category .area {
    margin: 0 !important;
}

.infoarea {
    /* padding-bottom: 0; */
    padding: 50px 0 !important;
}

.infoarea .icon {
    margin: 0 22px 0 0;
    width: 75px !important;
}

.deskripsi {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}

.listing-post .price {
    display: block;
    margin: 0 0 -3px;
    font-size: 25px !important;
    line-height: 1em !important;
    white-space: nowrap;
    text-shadow: none !important;
}

.listing-post .time-price {
    width: auto !important;
    background-color: #fff;
    border-radius: 0 0 10px !important;
    padding: 10px !important;
    margin: 0px !important;
    background: #d4434c;
    color: #fff !important;
    background: -webkit-linear-gradient(to top, #ec535b, #d4434c);
    background: linear-gradient(to top, #ec535b, #d4434c);
}

.listing-post .time-price p {
    margin: 0;
    padding-top: 10px !important;
    text-align: right !important;
}

.btn-default {
    color: #ffffff;
    background-color: #d43b4d !important;
    border-color: transparent;
}

.listing-post .frame {
    overflow: hidden;
    border-radius: 10px !important;
    background: #ffffff;
    border: #eaebec solid 1px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
}

.slider-secondary .listing-post {
    width: 300px !important;
}

.listing-post .title {
    font-size:15px !important;
}

.bottom-container {
    color: #ffffff;
    background: #a22937 !important;
}

.aside-footer {
    background: #999999 !important;
    color: #f5f5f5 !important;
    padding: 80px 0 !important;
}

.aside-footer .navarea {
    overflow: inherit !important;
    line-height: 17px;
}

.aside-footer .title {
    display: block;
    font-weight: 400;
    margin: 0 0 12px;
    font-size: 19px !important;
    text-transform: uppercase;
}

#footer p {
    margin: 0 !important;
    overflow: hidden;
}


@media screen and (max-width: 480px) {

  .topbar ul li {
    margin: 0;
    display: table-cell !important;
    width: 50vw;
    text-align: left;
  }    

  .form-category .form-holder {
    padding: 25px 10px !important;
  }    
    
  .visual {
    background: url(../../images/wb1.jpg) no-repeat 12% #d43b4d !important;
    background-size: 103vh !important;
    background-position-y: top !important;
    height: 55vh !important;
  }

  .visual .title-holder {
    height: 49vh !important;
  }

  .home-page .form-category {
    width: auto !important;
    float: left !important;
    margin: 0 25px 50px !important;
    padding: 20px !important;
  }

  .col-xs-12.col-lg-8.col-lg-push-2 {
    text-align: center;
   }

   .form-category .col:first-child {
    margin-bottom: 10px !important;
    width: 50% !important;
    float: left !important;
   }

   .form-category .input-append {
    width: 45vw;
  }

  .form-category .col + .col {
    width: 50% !important;
    float: left !important;
   }
    
 .form-category .form-holder .col.time .title {
    width: auto;
    margin: 12px 6px 5px 0 !important;
   }

.form-category .col + .col .title {
    width: 17vw !important;
}    

.form-category .title {
    width: 17vw !important;
}    
    
.form-category .col.categories {
    margin-bottom: 15px !important;
}    

.form-category .form-holder .col.location {
    width: auto;
    margin: 0 !important;
}    
    
   .col.categories {
    width: 95vw !important;
   }    
    
   .form-category .multiselect {
    display: inline !important;
   }    
    
  .form-category .col-xs-12 {
    padding: 0 !important;
    text-align: left !important;
   }

  .home-page .form-category .field-holder {
    width: 200px !important; 
  }

  .form-category .title {
    /* margin: 10px 4px 0 0; */
    width: 65px !important;
  }

  .form-category .col + .col .title {
    width: 65px !important;
  }

  .form-category input.btn-default {
    width: 150px!important;
    margin-left: 75px !important;
    background-color: #737373 !important;
  }

  .home-page .form-category .multiselect .btn-group, .home-page .form-category .multiselect .btn-default {
    width: 200px !important;
  }

  input#location {
    width: 200px !important;
  }

  .infoarea .info-box {
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
    width: 33% !important;
    border-top: 0 !important;
    border-left: solid 1px #e6e6e6;
    }
 
  .infoarea h2 {
    margin: 0;
    text-transform: uppercase;
    font: 500 14px/22px 'Otomo', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }

  .infoarea p {
    display: none;
  }

  .infoarea .icon {
    width: 60% !important;
  }
}


@media screen and (max-width: 414px) {
  #header {
    margin: 0px !important;  
  }

.form-category .multiselect .btn-group, .form-category .multiselect .btn-default {
    width: 73vw !important;
    margin-left: 2px !important;
    height: 36px;
}    
    
 input#location {
    width: 74vw !important;
  }

  .home-page .form-category .field-holder {
    width: 100% !important;
  }

  .form-category .area .col .title {
    text-align: left !important;
    padding-bottom: 6px !important;
    font-size: 16px !important;
    margin: 0px !important;
  }

  .form-category .multiselect {
    display: inline-block;
    width: 100% !important;
  }

  .home-page .form-category .multiselect .btn-group, .home-page .form-category .multiselect .btn-default {
    width: 100% !important;
  }

  .form-category input.btn-default {
    width: 100% !important;
    margin-left: 0px !important;
    background-color: #737373 !important;
  }

  .visual h1 {
    width: 95vw !important;
    font: 700 21px 'Otomo', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }

  .infoarea .info-box {
    padding: 10px !important;
  }

  .listing-container {
    margin: 0;
    padding: 12px;
  }
    
  #photos .gallery-slider .gallery-slideset .slide {
    height: 50vh !important;
    width: 110%;
    margin-left: -20px;

  }    
    
  .listing-container .tab-content {
    margin: 0 0 30px;
    padding: 0px !important;
  }  
  
 .features-list:last-child {
    margin: 0;
    padding: 13px !important;
  }   

 #conditions p:last-child, #description p:last-child {
    margin: 0;
    padding: 15px;
  }   
    
 .features-area h3 {
    margin-top: 0px !important;
 }
 
  #sidebar {
    position: relative;
    padding: 10px 22px !important;
  }   
  
  .date-selection .col + .col {
    margin: 0px !important;
  }  
    
  .date-selection .add-on {
    top: -32px;
    left: 0px !important;
    right: unset !important;
    position: absolute; 
  }  
  
  .date-selection .col .title {
    color: #58595b;
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    padding-left: 30px !important;
    margin: 0 40px 10px 0;
   }  

    div#user_contact {
        margin-top: -40px;
    }

    .members-list {
        position: relative;
        margin-top: 40px;
        padding: 18px 20px 2px;
    }    
}
